@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --roboto: 'Roboto', sans-serif;
  --lato: 'Lato', sans-serif;
  --dark-blue: #125488;
  --mid-blue: #2a93d5;
  --mid2-blue: #2387c5;
  --light-blue: #37caec;
}

html {
  box-sizing: border-box;
  font-family: var(--roboto);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
